html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--white-color);
    color: #212121;
    font-size: 14px;
    letter-spacing: 0.03em;
}

.section {
    padding: 94px 0;
}

.section__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color: var(--primary-title-color);
}

.list {
    display: flex;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

